.text-introduction {
    font-family: 'Palanquin';
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    padding-top: 2rem;
}

video {
    display: block;
    width: 100%;
    height: auto;
}

.video-section {
    padding-block: clamp(1rem, -0.056rem + 4.507vw, 4rem);
    padding-inline: clamp(0rem, 4vw, 4.6875rem);
    border-radius: clamp(1.5rem, 3vw, 3.3125rem);
    width: 100%;
}

.video-container {
    border-radius: clamp(1.5rem, 3vw, 3.3125rem);
    width: 100%;
    overflow: hidden;
}

.text-main {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
}

.text-list {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    padding: 1.5rem 0rem;
}

ul {
    margin-top: 1.5rem;
}

.text-conclusion {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
    padding-bottom: clamp(2.5rem, 0.064rem + 8.263vw, 7.5rem);
}

@media screen and (max-width: 768px) {
    .text-introduction,
    .text-main,
    .text-list,
    .text-conclusion {
        color: rgba(84, 55, 13, 1);
    }
}