.content {
    margin: 0 calc((100% - 1200px) / 2);
}

.text-introduction {

    font-family: 'Palanquin';
    font-size: 24px;


    padding-top: 32px;
}

video {
    display: block;
}

.video-section {
    padding: 64px 200px;
    border-radius: 53px;
    width: 100%;
}

.video-container {
    border-radius: 53px;
    width: 100%;
    overflow: hidden;
}

.text-main {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.text-list {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 36px 0px;
}

.text-conclusion {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    padding: 36px 0px 120px 0px;
}