
.text-introduction {
   font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
}



video {
    width: 100%;
}


.video-section {
    padding: 137px 377px;
    gap: 10px;

}

.video-container {
    border-radius: 53px;
    width: 100%;
    overflow: hidden;
}

.tips-section {
    background-color:rgba(78, 164, 135, 0.2);
    padding: 26px 16px 24px 16px;
    border-radius: 30px;

    width: 70%;
    margin: 0 auto;

    position: relative
}