.imprint-content {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: clamp(1.5rem, -0.21rem + 8.57vw, 7.5rem);
}

.impressum-content {
    width: 60%;
    margin-inline: auto;
    padding: 80px 0 120px;
}

.impressum-content h1 {
    font-family: Arima;
    font-size: 40px;
    font-weight: 600;
    color: rgba(84, 55, 13, 1);
    margin-bottom: 48px;
}

.impressum-block {
    margin-bottom: 32px;
}

.impressum-block h2 {
    font-family: Arima;
    font-size: 20px;
    font-weight: 600;
    color: rgba(84, 55, 13, 1);
    margin-bottom: 8px;
}

.impressum-block p {
    font-family: Palanquin;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(61, 61, 61, 1);
}

.impressum-block a {
    color: rgba(78, 164, 135, 1);
    text-decoration: underline;
}
