header {
    display: flex;
    align-items: center;

    background-color: var(--primary-bg-color-header-footer);
    height: 128px;
    gap: 102px;
    padding-left: 146px;
}

.header-logo {
    width: 98px;
}

nav {
    display: flex;
    gap: 72px;
}

nav>a {
    text-decoration: none;
    font-size: 24px;
    font-family: Arima;
    font-weight: 700;

    color: rgba(248, 245, 235, 1);
}

.content {
    margin: 0 calc((100% - 1440px) / 2);
}


.landing-section-hero {
    background-color: rgba(241, 201, 83, 1);
    height: 515px;

    position: relative;
    overflow: hidden;
}

.hero-curve-img {
    position: absolute;
    z-index: 1;
}

.hero-background-img {
    z-index: 0;
    width: 100%;
    object-fit: cover;
    height: 515px;
    position: absolute;
}

.landing-section-hero {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.hero-headline {
    display: flex;

}


.hero-headline h1 {
    top: 100px;
    left: 50px;

    font-family: Arima;
    font-size: 60px;
    color: rgba(84, 55, 13, 1);

    position: absolute;
    z-index: 3;
}

.hero-headline p {

    top: 100px;
    left: 50px;

    width: 345px;
    height: 132px;

    font-family: Palanquin;
    font-size: 28px;
    font-weight: 500;

    position: absolute;
    z-index: 3;
}

.share-button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 32px;
}

.share-button-section>p {
    flex-wrap: wrap;

    font-size: 24px;
    font-family: Arima;
    font-weight: 500;
    text-align: center;

    color: rgba(84, 55, 13, 1);
    width: 460px;
    padding: 10px;
}



.share-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 32px;
    width: 160px;
    height: 50px;
    background-color: rgba(78, 164, 135, 1);
    gap: 10px;
    border-radius: 40px;
}

.share-button img {
    width: 24px;
}

.share-button p {
    font-size: 24px;
    font-weight: 700;
    font-family: Arima;
    color: rgba(241, 201, 83, 1);
}

.share-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.share-button-wrapper>img {
    top: -18px;
    right: 252px;
    position: absolute;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(78, 164, 135, 1);
    font-size: 52px;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;

    gap: 16px;
}

.contact-text {
    font-family: 'Palanquin';
    font-weight: 500;
    font-size: 24px;
    color: rgba(84, 55, 13, 1);
}

.contact-text >p {
    padding-bottom: 56px;
}

.contact-form {
    text-align: center;

    padding-top: 36px;
}

.personal-data {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align:start;
}

.name >input {
    border: none;
    border-bottom: 1px solid rgba(84, 55, 13, 1);
    padding-top: 36px;

    font-family: 'Palanquin';
    font-weight: 500;
    font-size: 24px;
    color: rgba(78, 164, 135, 1);
}

.email {
    display: flex;
    flex-direction: column;
    width: 49%;
    text-align: start;
}

.email >input {
    border: none;
    border-bottom: 1px solid rgba(84, 55, 13, 1);
    padding-top: 36px;

    font-family: 'Palanquin';
    font-weight: 500;
    font-size: 24px;
    color: rgba(78, 164, 135, 1);
}

.help {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 49px;
}

textarea {
    border: none;
    border-bottom: 1px solid rgba(84, 55, 13, 1);
    padding-top: 36px;
    
    font-family: 'Palanquin';
    font-weight: 500;
    font-size: 24px;
    color: rgba(78, 164, 135, 1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary-bg-color-header-footer);
    height: 128px;
    padding: 0 120px;
}

.footer-links {
    display: flex;
    gap: 72px;

    font-family: Palanquin;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

}

.footer-links a {
    color: rgba(255, 255, 255, 1);

}

.footer-links p {
    text-wrap-mode: nowrap;

}

.footer-links-copyright {
    display: flex;
    gap: 4px;
}

.footer-social-media-links {
    display: flex;
    gap: 16px;
}