header {
    display: flex;
    align-items: center;

    background-color: var(--primary-bg-color-header-footer);
    height: 128px;
    gap: 102px;
    padding-left: 146px;
}

.header-logo{
    width: 98px;
}

nav {
    display: flex;
    gap: 72px;
}

nav>a {
    text-decoration: none;
    font-size: 24px;
    font-family: Arima;
    font-weight: 700;

    color: rgba(248, 245, 235, 1);
}